body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #31B2D1;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #444;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5px;

}

.projectPic {
  -webkit-box-shadow: 3px 3px 3px 0px rgba(120,119,120,0.6);
  -moz-box-shadow: 3px 3px 3px 0px rgba(120,119,120,0.6);
  box-shadow: 3px 3px 3px 0px rgba(120,119,120,0.6);
  max-width: 90%;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #777;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #777;
  line-height: 16px;
  float: right;
}

a {
  color: #31B2D1;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #31B2D1;
  display: none;
}

#skills {
  display: none;
}

#projects {
  padding-bottom: 20px;
}

.blue {
  background-color: #31B2D1;
}

.blue-text {
  color: #31B2D1;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #E4E4E4;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #444;
}

.role {
  color: #E4E4E4;
}

/* TODO: Replace with image later */
#header {
  background-color: #536c72;
  /* IE9, iOS 3.2+ */
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%,color-stop(0, rgb(49, 178, 209)),color-stop(0.395, rgb(105, 105, 105)),color-stop(1, rgb(68, 68, 68)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(bottom,rgb(49, 178, 209) 0%,rgb(105, 105, 105) 39.5%,rgb(68, 68, 68) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to top,rgb(49, 178, 209) 0%,rgb(105, 105, 105) 39.5%,rgb(68, 68, 68) 100%);
  background-image: -ms-repeating-linear-gradient(bottom,rgb(49, 178, 209) 0%,rgb(105, 105, 105) 39.5%,rgb(68, 68, 68) 100%);
  border-bottom: 5px solid #666;
}

.flex-box {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.info {
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

img {
  padding: 10px;
}

span {
  padding: 10px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  #skills,
  .biopic {
    float: left;
    display: block;
  }
  .projectPic {
    max-width: 47%;
  }
  #skills-h3,
  #skills {
    padding-top: 20px;
  }
}